

html, body, .map{
    padding: 0;
    margin: 0;
    height: 100%;
  }

#header{
    height:60px;
    background-color: #172133;
    /*background: -webkit-linear-gradient(#3B5786 50%, #172133); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#3B5786 50%,#172133); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#3B5786 50%,#172133); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#3B5786 50%, #172133); /* Standard syntax */
    margin:0;
    overflow:hidden;
    display:none
}

div .textArea{
    width: 331px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#ruskin_logo {
    position: relative;
    top: 5px;
    height: 45px;
    width: auto;
}

#ruskin_logo:focus{
    outline: none;
}

img, i, .box, input,button{
	cursor: pointer; cursor: hand;
}


#HomeButton {
    position: absolute;
    top: 150px;
    left: 20px;
    z-index: 50;
}

@-moz-document url-prefix(){
    .rightArea .logo a{
        position:relative;display:inline-block
	}
    .rightArea .logo a img{
        bottom:initial;
        top:initial;
        margin-top:-10px
    }
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 20;
}

#footer {
    position: relative;
    margin-top: -150px;
    height: 150px;
    color: #fff;
    background-color:#3B5786;
    clear: both;
    transition-property: all;
    transition: .7s;
    z-index: 20;
}

.toggle{
    text-align: center;
    background-color: #172133;
    /*background: -webkit-linear-gradient(#3B5786, #172133); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#3B5786, #172133); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#3B5786, #172133); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#3B5786, #172133); /* Standard syntax */
   }

.opened{
    margin-top: 150px !important;
    height: 20px !important;
}

#timeline{
    position:fixed;
    width: 100%;
    height: inherit;
}

#slideLeft{
    position: absolute;
    top: 0px;
    padding-left: 15px;
    padding-top: 50px;
    opacity: .5;
    z-index: 20;
}

#slideRight {
    position: absolute;
    top: 0px;
    right:0px;
    padding-right: 15px;
    padding-top: 50px;
    opacity: .5;
    z-index: 20;
}

.esriPopup {
    position: fixed;
    top:50%;
    left:50%;
    width:0px;
    height:0px;
    margin: auto;
    z-index: 40;
    font-family: open_sanssemibold,sans-serif;
    font-size: 12px;
    border-radius: 5px;
}

.esriPopup .sizer {
    position: relative;
    width: 270px;
    z-index: 1;
}

.esriPopup .titlePane {
    background-color:#3B5786;
    color: #fff;
    line-height: 20px;
    padding-left: 6px;
    cursor: default;
}

.esriPopup .contentPane {
    position: relative;
    max-height: 300px;
    overflow: auto;
    padding: 10px 6px 6px 10px;
    background-color: #F7F7F7;
    color: #000;
}

.esriPopup .actionsPane {
    padding: 2px 10px 4px;
    background-color: #F7F7F7;
    position: relative;

}

.esriPopup a {
    background-color: #F7F7F7;
    color: #3B5786;
    text-decoration: underline;
}

.rightPane{
	position: absolute;
	right: 0px;
	top: 100px;
    background-color: #3B5786;
    color: #fff;
    z-index: 50;
    width: 200px;
    height: 110px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

legend{
    overflow: hidden;
    text-align: center;
    border-top-left-radius: 5px;
    width: 100%;
    top: 0;
    height: 34px;
    font-size: 25px;
    position: relative;
    background-color: #172133;
}

fieldset{
    border: none;
}

#s{
    border: 5px solid #3B5786;
    border-radius: 10px;
    background-color: #3B5786;
    height: 110px;
    width:130px ;
}


#search {
    display: block;
    position: absolute;
    z-index: 60;
    top: 80px;
    left: 60px;
}


.box {
    display: inline-flex;
    position: relative;
    top:5px;
    margin-right: 10px;
    background-color: #172133;
    opacity: 0.9;
    width: 0px;
    height: 80px;
    padding: 15px;
    border-radius: 5px;
    transition: opacity .3s, height .3s;
    -webkit-transition: opacity .3s, height .3s; /* Safari 3.1 to 6.0 */
    /*box-shadow: 3px 3px 6px #000;*/
}

.box:hover
{
    opacity: 1;
    height: 87px;
    top:0px;
    border-color: #172133;
}

#container1 .box p{
    display: table-row-group;
    font-size: 17px;
}
#container2 .box p{
    display: table-row-group;
    font-size: 13px;
}
#container3 .box p{
    display: table-row-group;
    font-size: 14px;
}

#popup p{
    display:table-row-group;
}

#buttonContainer{
    width: 300px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 900;
}

.timeButton {
    position: relative;
    left: 40px;
    background-color: #3B5786;
    width: 85px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: sans-serif;
    letter-spacing: .25px;
    color: #fff;
    font-size: 11px;
    padding: 1px 0px 0px 0px;
    text-decoration: none;
    border: 0px;
}

.timeButton:hover {
    text-decoration: none;
    border:1px solid #3B5786 !important;
    background-image:none !important;
    background-color:#172133 !important
}
.timeButton:focus{
    outline: none;
}

.timecontainer{
    width: 100%;
    height: 120px;
    position: absolute;
    left: 60px;
    top:5px;
    background-color: #3B5786;
}

#grad1{
    position: absolute;
    top:0px;
    width:60px;
    height:inherit;
    z-index: 10;
    background-color: #3B5786;
}

#grad2 {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 60px;
    height: inherit;
    z-index: 10;
    background-color: #3B5786;
}

#popup {
    display: none;
    height:380px;
    width:340px;
    margin: 0 auto;
    position:fixed;
    top: 13%;
    left: 35%;
    z-index:50;
    display:block;
    background-color: #3B5786;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
}

#close{
    position: absolute;
    top: 7px;
    right: 7px;
}

#close:hover{
    background-color: rgba(255, 255, 255, 0.15);
}