.DS_Store
.idea

.ssh_password
composer.phar

scss_cache
src/vendor/
/deploy
/gen
_Resources/images/facsimiles_previews

src/config*.php
!/src/config_template.json.php

src/phpmyadmin
/phpmyadmin
ruskin.xpr
task*
*.xpr
src/#    proxy_pass   http:::127.0.0.1;
_etc/Crib Sheets/~$regularization crib sheet MASTER 06-05-23.xlsx
