.DS_Store
.idea

.ssh_password
src/config_production.json
src/config.json
src/config.json.php

/deploy
/gen

src/apparatuses
src/glosses
src/images
src/notes
src/webpages
src/witnesses
src/sermons
src/essays
src/corpuses
src/xml
src/fonts

_Resources/images/facsimiles_previews