.DS_Store
.idea

.ssh_password
config_production.json

/deploy
/gen

src/apparatuses
src/glosses
src/images
src/notes
src/webpages
src/witnesses
src/sermons
src/essays
src/corpuses
src/xml
src/fonts


src/config.json

_Resources/images/facsimiles_previews