/* compiled by scssphp v0.0.11 on Tue, 24 Jul 2018 20:06:22 +0000 (0.0013s) */

.tablespace {
  margin: 2%; }
  .tablespace > table {
    width: 100%;
    max-width: 600px;
    text-align: center;
    table-layout: fixed; }
    .tablespace > table > tr, .tablespace > table > tbody > tr, .tablespace > table > tr > td, .tablespace > table > tbody > tr > td {
      border: 1px solid black;
      border-collapse: collapse; }
    .tablespace > table tr.label {
      font-weight: bold; }
    .tablespace > table > tr > td, .tablespace > table > tbody > tr > td {
      word-wrap: break-word;
      white-space: normal; }
