/**
CSS padding fix for anchor links
**/

.bib-item {
  padding-top: 87px;
  margin-top: -87px;
}

.section {
  padding-top: 100px;
  margin-top: -80px;
}

.glosses {
  .textual,.contextual {
    
    .gloss-padding-fix {
      display: block;
      position: relative;
      top: -100px;
      visibility: hidden;
    }
  }
}

.id-holder{
  visibility: hidden;
  position: absolute;
  margin-top: -80px;
}
