@charset "UTF-8";

/* Used by IE8 */

@font-face {
	font-family: Andron;
	src: url('fonts/andron_scriptor_web_3_1.eot');
}

/* Used by Other Web Browsers */

@font-face {
	font-family: Andron;
	src: url('fonts/andron_scriptor_web_3_1.woff');
}


.tablespace{
	margin: 2%;
  > table{
    width: 100%;
  	max-width: 600px;
  	text-align: center;
  	table-layout: fixed;
    
    >tr, >tbody>tr, >tr>td, >tbody>tr>td{
      border: 1px solid black;
    	border-collapse: collapse;
    }
    
    tr.label{
      font-weight: bold;
    }
    
    >tr>td, >tbody>tr>td{
      word-wrap:break-word;
    	white-space: normal;
    }
  }
}

.p{
	margin: 1em 0.5em 1em 0.3em;
}


