@charset "UTF-8";

@use 'components/fonts';
/**
 * Early Ruskin Manuscripts.
 */

.tablespace {
  margin: 2%;
  > table {
    width: 100%;
    max-width: 600px;
    text-align: center;
    table-layout: fixed;

    > tr,
    > tbody > tr,
    > tr > td,
    > tbody > tr > td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    tr.label {
      font-weight: bold;
    }

    > tr > td,
    > tbody > tr > td {
      word-wrap: break-word;
      white-space: normal;
    }
  }
}

.p {
  margin: 1em 0.5em 1em 0.3em;
}
