@charset "UTF-8";

@import 'components/fonts';
/**
 * Styles common both for witnesses as well as the website
 */

.tablespace{
	margin: 2%;
  > table{
    width: 100%;
  	max-width: 600px;
  	text-align: center;
  	table-layout: fixed;

    >tr, >tbody>tr, >tr>td, >tbody>tr>td{
      border: 1px solid black;
    	border-collapse: collapse;
    }

    tr.label{
      font-weight: bold;
    }

    >tr>td, >tbody>tr>td{
      word-wrap:break-word;
    	white-space: normal;
    }
  }
}

.p{
	margin: 1em 0.5em 1em 0.3em;
}

.page-title {
  color: #036;
  font-size: 18pt;
  line-height: 1em;
  font-weight: normal;
  margin-top: 0.5em;

  .title-text {
    font-weight: bold;
  }
}

