$font-color: #444;
$body-color: #444;
$highlight-color: #8bc34a9e;

$link-color: #036;
$link-active-color: #06c;

$info-blue: #0e8dce;
$error-red: #af0000;
$good-green: #066506;

$border-grey: #8e7f7f;

$side-nav-width: 170px;

