@import "styles_common";
@import "witness_styles_old";

.overwriting {
	font-weight: bold;
}

.subst{
	display: inline-block;
}

.add {
	display: inline-block;
}
.add.overwriting{
	font-weight: normal;
}

.del {
	color: #ccc;
}
.del, .add{
	display: inline-block;
}
.del.absolute{
	position: absolute;
}


.l {
	display: block;
	position: relative;
	width: 100%;
}

.runover {
	position: absolute;
	display: inline;
	bottom: -1em;
}



.tablespace {
	.del{
		position: relative;
	}
}

.s-inline{
	display: inline;
}
.s-subst{
	&.s-add{
		&.s-overwrite{
			&.s-inline{
				position: relative;
			}
			&:not(.s-inline){
				position: absolute;
			}
			&.s-above{
				top: -1em;
			}
			&.s-below{
				bottom: -1em;
			}
		}
		
	}
	
}

/* S u b s t i t u t i o n */

.subst-del {
	color: #CCC;
	position: absolute;
}
.subst-del-strikethrough {
	color: #000;
	text-decoration: line-through;
}
.subst-add-above {
	color: #000;
	position: absolute;
	top: -1em;
}

.subst-add-below {
	bottom: -1em;
	color: #000;
	position: absolute;
}
.subst-add-below-overwriting {
	bottom: -1em;
}

.subst-add-above-overwriting {
	top: -1em;
}