
.box {
	font:  bold 15px serif;
    display: inline-flex;
    position: relative;
    top:5px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #172133;
    opacity: 0.9;
    width: 0px;
    height: 100px;
    border-radius: 5px;
    transition: opacity .3s, height .3s;
    color: white;
}

.dialogLbl {
	background: #3B5786 !important;
	color: white;
	padding-top: 2px;
	padding-bottom:2px;
	font:  bold 15px serif;
}

.dialogPanel {
	background: #3B5786 !important;
	color: white;
	border: #172133 !important;
	border-radius: 5px;
}

.dialogTableContainer {
	margin-left: auto;
	margin-right: auto;
	border: 2 px solid #172133;
	margin-bottom: 10px;
	margin-top: 15px;
}

.dialogTable {
	color: #172133 !important;
	font-family: serif !important;
	font: bold 12px serif !important;
	border: 1 px solid #172133;
	width: 450px;
}

.dialogTableHeader {
	color: white !important;
	background: #172133;
	font:  bold 13px serif !important;
	box-shadow: none !important;
	border: 1 px solid #172133;
}

.gwt-DialogBox {
	background: #172133;
	border-radius: 5px;
}

.gwt-DialogBox .dialogContent{
	background: #172133;
}

.gwt-DialogBox .dialogMiddleCenter {
  	padding: none !important;
  	background: #172133 !important;
}
.gwt-DialogBox .dialogMiddleLeft {
  	padding: none !important;
  	background: #172133 !important;
}
.gwt-DialogBox .dialogMiddleRight {
 	padding: none !important;
 	background: #172133 !important;
}
.gwt-DialogBox .dialogBottomCenter {
    padding: none !important;
 	background: #172133 !important;
}

.gwt-DialogBox .dialogTopLeft {
   	padding: none !important;
 	background: #172133 !important;
}
.gwt-DialogBox .dialogTopRight {
   	padding: none !important;
 	background: #172133 !important;
}

.gwt-DialogBox .dialogBottomLeftInner {
  	padding: none !important;
 	background: #172133 !important;
}
.gwt-DialogBox .dialogBottomRightInner {
  	padding: none !important;
 	background: #172133 !important;
}

.gwt-DialogBox .Caption {
	background: #172133 !important;
  	text-align: center !important;
  	color: white !important;
  	padding: 4px #172133 !important;
  	font:  bold 18px serif !important;
  	font-weight: bold !important;
  	border: #172133 !important;
}

.titleContainer{
	background-color: #172133;
	height: 50px;
}

.perspectiveLbl{
	background-color: #172133;
	color: white;
	text-align: center;
	font: bold 25px serif;
	border-radius: 5px 5px 0px 0px;
}

.perspective {
	background-color: #3B5786;
	color: white;
	font: bold 18px serif;
	border-radius: 5px;
}

.timeBtn {
	position: relative;
    background-color: #3B5786;
    width: 85px;
    height: 130px;
    font-family: serif;
    letter-spacing: .25px;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    border: 0px;
}

.timeBackground {
	background-color: #3B5786;
	height: 130px;
}

.titleLabel{
	font: italic 50px sans-serif;
	color: white;
	text-align: center;
	bottom: 0px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.closeBtn{
	float:right;
   	margin-top:-30px;
   	margin-right:-10px;
   	width:20px;
   	height:20px;
   	display:block;
   	text-align: top;
   	color: white;
   	font:  bold 15px sans-serif;
   	background: #172133;
    background-image: url(img/white_x_close.png);
    border: none;
}

.mapDecorator{
	bottom: 0px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.carousel { 
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.passLbl {
	width: 450px;
	text-align: center;
	color: #172133;
	background-color: gray;
	font: bold 20px serif;
	margin-left: auto;
	margin-right: auto;
}