<?xml version="1.0" encoding="UTF-8"?>
<?oxygen RNGSchema="ruskin.rnc" type="compact"?>
<?xml-stylesheet type="text/xsl" href="ruskin.xsl"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
    <teiHeader type="apparatus">
        <fileDesc xml:id="spring_blank_verse_apparatus">
            <titleStmt>
                <title type="main">"Spring: Blank Verse"</title>
                <title type="sub">Apparatus</title>
                <author>
                    <persName corresp="#DCH">David C. Hanson</persName>
                </author>
                <editor>
                    <persName corresp="#DCH">David C. Hanson</persName>
                </editor>
                <principal>
                    <persName corresp="#DCH">David C. Hanson</persName></principal>
                <respStmt>
                    <!--For xml:id, enter your first, middle, and last intials.-->
                    <persName corresp="#CWB">Charles W. Borchers, IV</persName>
                    <resp>contributing encoding, review</resp>
                </respStmt>
                <respStmt>
                    <persName corresp="#CNW">Casey N. White</persName>
                    <resp>contributing review</resp>
                </respStmt>
                <sponsor>Southeastern Louisiana University</sponsor>
                <funder>American Philosophical Society, Beinecke Library, Bibliographical Society of
                    America, Blossman Foundation, Huntington Library, Louisiana Board of Regents,
                    National Endowment for the Humanities, NINES, Pierpont Morgan Library, South
                    Central Modern Language Association, and Southeastern Louisiana
                    University</funder>
            </titleStmt>
            <editionStmt>
                <edition n="1.0">
                    <!--DATE WHEN should reflect the date that this electronic text was finalized for publication to the Web.-->
                    <date when="2011-06-29">June 29, 2011</date>
                    <!--The apparatus version for all first passes is 1.0.-->
                    <title>Apparatus Version 1.0 (TC)</title>
                </edition>
            </editionStmt>
            <publicationStmt>
                <distributor><name type="institution">Southeastern Louisiana University Department of English</name></distributor>
                <address>
                    <addrLine>Department of English</addrLine>
                    <addrLine>Southeastern Louisiana University</addrLine>
                    <addrLine>SLU 10861</addrLine>
                    <addrLine>Hammond LA 70402</addrLine>
                    <addrLine>ruskinproject@selu.edu</addrLine>
                </address>
                <availability status="restricted">
                    <p>Copyright David C. Hanson.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Born digitally, prepared by David C. Hanson.</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <div type="apparatus" subtype="work">
                <head type="title">&#x201C;Spring: Blank Verse&#x201D;</head>
                <div type="section" xml:id="WITNESSES">
        			<head type="section">Witnesses</head>
        			<list>
        			    <item><ref type="witness" target="spring_blank_verse_msiii.php"><title type="poem" corresp="#SPRINGBLANKVERSE">&#x201C;Spring: Blank Verse&#x201D;</title> (<title type="manuscript" corresp="#MSIII">MS III</title>)</ref></item>
        			    <item><ref type="witness" target="spring_blank_verse_houghton.php"><title type="poem" corresp="#SPRINGBLANKVERSE">&#x201C;Spring: Blank Verse&#x201D;</title> (autograph letter, <persName corresp="#JR">Ruskin</persName> to <persName corresp="#JJR">John James Ruskin</persName>, <date when="1827-05">May 1827</date>)</ref></item>
        			    <item><ref type="witness" target="spring_blank_verse_am.php"><title type="poem" corresp="#SPRINGBLANKVERSE">&#x201C;Spring: Blank Verse&#x201D;</title> (<title type="periodical" rend="italic" corresp="#ATLANTICMONTHLY">Atlantic Monthly</title>)</ref></item>
        			</list>
                </div>
                <div type="section" xml:id="TITLE">
                    <head type="section">Title</head>
                    <p><title type="poem" corresp="#SPRINGBLANKVERSE">&#x201C;Spring: Blank Verse&#x201D;</title>.</p>
                    <p>Entitled <title type="poem" corresp="#SPRINGBLANKVERSE">&#x201C;SPRING&#x201D;</title> in the version included in a <date when="1827-05">May 1827</date> 
                        letter to his <persName corresp="#JJR">father</persName> (<ref type="bibliography" target="bibliography.php#RFL">Burd, ed., <hi rend="italic">Ruskin Family Letters</hi></ref>, 158); 
                        and as &#x201C;spring<space quantity="6" unit="chars"/> blank verse&#x201D;
                        in <ref type="apparatus" subtype="manuscript" target="msiii_apparatus.php">MS III</ref>. See <ref type="note" subtype="bibliographical" target="title_citation_note.php">System of Title Citation for Works</ref>.</p>
                </div>
                <div type="section" xml:id="GENRE">
                    <head type="section">Genre</head>
                    <p>Poem. <persName corresp="#JR">Ruskin</persName> applied the term <hi rend="italic">blank verse</hi> also to <ref type="apparatus" subtype="work" target="time_blank_verse_apparatus.php"><title type="poem" corresp="#TIMEBLANKVERSE">&#x201C;Time: Blank Verse&#x201D;</title></ref> and to
                        <ref type="apparatus" subtype="work" target="on_the_rainbow_apparatus.php"><title type="poem" corresp="#ONTHERAINBOW">&#x201C;On the Rainbow: In Blank Verse&#x201D;</title></ref>. The verse is indeed unrhymed, 
                        although not consistently pentameter.</p>
                </div>
                <div type="section" xml:id="MAJORMS">
                    <head type="section">Manuscripts</head>
                    <p>Contained along with <ref type="apparatus" subtype="work" target="wales_apparatus.php"><title type="poem" corresp="#WALES">&#x201C;Wales&#x201D;</title></ref>in a <date when="1827-05">May 1827</date> 
                        letter to his <persName corresp="#JJR">father</persName> (<ref type="bibliography" target="bibliography.php#RFL">Burd, ed., <hi rend="italic">Ruskin Family Letters</hi></ref>, 158); 
                        also contained in <ref type="apparatus" subtype="manuscript" target="msiii_apparatus.php"><title type="manuscript" corresp="#MSIII">MS III</title></ref> (pp.
                        63&#x2013;65[<hi rend="italic">a</hi>]), a <ref type="note" subtype="bibliographical" target="red_book_note.php">Red Book</ref> devoted
                        primarily to <ref type="apparatus" subtype="manuscript" target="harry_and_lucy_vol2_apparatus.php"><title type="lesson" corresp="#HARRYANDLUCYVOL2">&#x201C;Harry and Lucy,&#x201D; Vol. 2</title></ref>. 
                        <title type="poem" corresp="#SPRINGBLANKVERSE">&#x201C;Spring: Blank Verse&#x201D;</title> is the fourth poem in <title type="manuscript" corresp="#MSIII">MS III</title>&#x02BC;s
                        <ref type="apparatus" subtype="manuscript" target="poetry_discriptive_apparatus.php"><title type="anthology" corresp="#POETRYDISCRIPTIVE">&#x201C;Poetry Discriptive&#x201D;</title></ref>.</p>
                    <p>On <date when="1827-04-28">28 April 1827</date>, <persName corresp="#MR">Margaret</persName> announced to <persName corresp="#JJR">John James</persName> 
                        that &#x201C;<persName corresp="#JR">John</persName> has sent you his first written letter.&#x201D; By <hi rend="italic">written</hi>, she may have meant his first letter in his own hand 
                        as opposed to her transcription (an example of the latter being a letter dated <date when="1823-03-15">15 March 1823</date> from both <persName corresp="#JR">John</persName> 
                        and <persName corresp="#MR">Margaret</persName> to <persName corresp="#JJR">John James</persName>, which is written entirely in <persName corresp="#MR">Margaret</persName>&#x02BC;s hand, 
                        and which is the only extant epistle by <persName corresp="#JR">Ruskin</persName> 
                        prior to <date when="1827-05">May 1827</date>, putting aside his presentation copies of poems). <persName corresp="#MR">Margaret</persName> may also&#x2014;or instead&#x2014;have 
                        meant by the term <hi rend="italic">written</hi> to refer to <persName corresp="#JR">Ruskin</persName>&#x02BC;s first letter in cursive hand, as opposed to printing. 
                        As she goes on to remark, &#x201C;I believe the showing you his writing occupied his thoughts fully more than how he expressed his feelings so you must excuse that.&#x201D; 
                        <persName corresp="#VAB">Van Akin Burd</persName> notates this &#x201C;written&#x201D; letter as &#x201C;unidentified,&#x201D; 
                        but it seems probable that <persName corresp="#MR">Margaret</persName> was referring to <persName corresp="#JR">Ruskin</persName>&#x02BC;s letter of <date when="1827-05">May 1827</date> 
                        (containing <title type="poem" corresp="#WALES">&#x201C;Wales&#x201D;</title> and <title type="poem" corresp="#SPRINGBLANKVERSE">&#x201C;Spring&#x201D;</title>), 
                        which <persName corresp="#VAB">Burd</persName> prints following <persName corresp="#MR">Margaret</persName>&#x02BC;s of <date when="1827-04-28">28 April 1827</date>. 
                        <persName corresp="#JR">Ruskin</persName> wrote this letter in an awkward cursive script&#x2014;mostly in pencil, 
                        except for a postscript in ink. In this letter, he was also using pen and ink for the first time, which <persName corresp="#MR">Margaret</persName> says that he was 
                        &#x201C;much delighted at being able to use.&#x201D; He copied the two poems, 
                        unlike the text of the letter, entirely in ink, although in a print, not cursive hand 
                        (see <ref type="bibliography" target="bibliography.php#RFL">Burd, ed., <hi rend="italic">Ruskin Family Letters</hi></ref>, 156, 127&#x2013;28, 157 n. 4).  
                    </p>
                    <p>Facsimile and transcript by permission of Beinecke Rare Book and Manuscript Library, Yale University.</p>
                    
                </div>
                <div type="section" xml:id="DATE">
                    <head type="section">Date</head>
                    <p><date when="1827-05">May 1827</date> or possibly somewhat earlier. Evidence is contradictory in determining which is the earlier of the two pairs of 
                        <title type="poem" corresp="#WALES">&#x201C;Wales&#x201D;</title> and <title type="poem" corresp="#SPRINGBLANKVERSE">&#x201C;Spring&#x201D;</title>&#x2014;the 
                        <date when="1827-05">May 1827</date> version or the <title type="manuscript" corresp="#MSIII">MS III</title> version. 
                        The greater assurance with which <persName corresp="#JR">Ruskin</persName> appears to handle a pen and ink, along with the suggestiveness of some variants, 
                        points to <title type="manuscript" corresp="#MSIII">MS III</title> as the later version: e.g., in line 8 of <title type="poem" corresp="#WALES">&#x201C;Wales&#x201D;</title>, 
                        a possibly overwritten alteration in punctuation in the <date when="1827-05">May 1827</date> version 
                        is confirmed in <title type="manuscript" corresp="#MSIII">MS III</title>, indicating the latter as the secondary version. Similarly, in <title type="poem" corresp="#SPRINGBLANKVERSE">&#x201C;Spring&#x201D;</title>, 
                        an addition above line 1 in <date when="1827-05">May 1827</date> is duly incorporated into <title type="manuscript" corresp="#MSIII">MS III</title>, 
                        and the that version contains a new phrase at line 14, which is not present in <date when="1827-05">May 1827</date>. 
                        At the same time, the <title type="manuscript" corresp="#MSIII">MS III</title> version is uncharacteristically marred by grammatical and spelling errors that do not appear 
                        in the <date when="1827-05">May 1827</date> version. It is unlike <persName corresp="#JR">Ruskin</persName> to introduce errors in a subsequent copy. 
                        (See the glosses attached to the two transcriptions.)</p>
                    <p>Oddest of all is <persName corresp="#JR">Ruskin</persName>&#x02BC;s employment of the term <hi rend="italic">nectron</hi> in <title type="manuscript" corresp="#MSIII">MS III</title>, 
                        an unusual form as compared with the more familiar 
                        <hi rend="italic">nectarine</hi> used in the <date when="1827-05">May 1827</date> version. Complicating this word choice, in <date when="1827-05">May 1827</date> 
                        also contains one occurrence of <hi rend="italic">nectron</hi>, which <persName corresp="#JR">Ruskin</persName> scores through and replaces with <hi rend="italic">nectarine</hi>. 
                        It seems equally plausible, therefore, to treat <date when="1827-05">May 1827</date> as a later version that 
                        corrects word choice and grammatical, punctuation, and spelling errors found in <title type="manuscript" corresp="#MSIII">MS III</title>. Or perhaps the two versions 
                        are independent copies deriving from a third, prior version, now lost.</p>
                    <p>See also <ref type="note" subtype="bibliographical" target="date_citation_note.php">System of Date Citation</ref>.</p>
                    
                </div>
                <div type="section" xml:id="COMPPUB">
                    <head type="section">Composition and Publication</head>
                    <p>The <title type="manuscript" corresp="#MSIII">MS III</title> version has not been previously published.</p>
                    <p>For the provenance and publication history of the <date when="1827-05">May 1827</date> version, see 
                        <ref type="apparatus" subtype="work" target="wales_apparatus.php#COMPPUB"><title type="poem" corresp="#WALES">&#x201C;Wales&#x201D;</title>: Composition and Publication</ref>. 
                        This version, like that of <title type="poem" corresp="#WALES">&#x201C;Wales&#x201D;</title>, published with entirety of <persName corresp="#JR">Ruskin</persName>&#x02BC;s letter, 
                        in <title type="collected_letters" corresp="#JRLETTERS">&#x201C;Letters of John Ruskin&#x201D;</title>, 
                        volumes 93&#x2013;94 (<date when="1904">1904</date>) of the <title type="periodical" rend="italic" corresp="ATLANTICMONTHLY">Atlantic Monthly</title> 
                        (<ref type="bibliography" target="bibliography.php#JRLETTERS">&#x201C;Letters of John Ruskin,&#x201D; ed. Norton</ref>, 94:164). 
                        Simultaneously, the <date when="1827">1827</date> letter and <persName corresp="#JR">Ruskin</persName>&#x02BC;s covering <date when="1869-02">February 1869</date> note 
                        presenting the letter to <persName corresp="#CEN">Charles Eliot Norton</persName> appeared in 
                        <ref type="bibliography" target="bibliography.php#JRLETTERSNORTON">Norton, ed., <hi rend="italic">Letters of John Ruskin to Charles Eliot Norton</hi></ref>, 1:197&#x2013;98. 
                        Published also in <ref type="bibliography" target="bibliography.php#JRWORKSLE">Ruskin, <hi rend="italic">Works</hi></ref>, 36:2; 
                        and re&#x2010;edited using original punctuation in <ref type="bibliography" target="bibliography.php#RFL">Burd, ed., <hi rend="italic">Ruskin Family Letters</hi></ref>, 158.</p>
                </div>
                <div type="section" xml:id="DISCUSSION">
                    <head type="section">Discussion</head>
                    <p>For the <date when="1827">1827</date> family tour to <placeName corresp="#WALES">Wales</placeName> and <placeName corresp="#SCOTLAND">Scotland</placeName>, 
                        on which <persName corresp="#JR">Ruskin</persName> was pining to set forth in <date when="1827-05">May</date>, 
                        but which was delayed by his <persName corresp="#JJR">father</persName>&#x02BC;s protracted business travel, 
                        see <ref type="apparatus" subtype="work" target="wales_apparatus.php#DISCUSSION">&#x201C;Wales&#x201D;: Discussion</ref> and 
                        <ref type="note" subtype="contextual" target="tours_of_1826-27_note.php">Tours of 1826&#x2013;27</ref>.</p>
                    <p>With its arcane naming of <hi rend="italic">nectarine</hi> as <hi rend="italic">nectron</hi>, and its attention to exotic species such as the <hi rend="italic">Kerria japonica</hi> from 
                        <placeName corresp="#CHINA">China</placeName> (see glosses to the poem), <title type="poem" corresp="#SPRINGBLANKVERSE">&#x201C;Spring: Blank Verse&#x201D;</title> 
                        reflects the romance that empire imparted to British botany of the long nineteenth century. This exoticism is reflected also in the contemporaneous travel narrative in 
                        <ref type="apparatus" subtype="manuscript" target="harry_and_lucy_vol2_apparatus.php"><title type="lesson" corresp="#HARRYANDLUCYVOL2">&#x201C;Harry and Lucy,&#x201D; Vol. 2</title></ref>, 
                        in which the travelers visit a friend who shows off &#x201C;the mimosa the papyrus and the coffee tree&#x201D;&#x2014;a visit to a hothouse of tropical plants, whether true or imagined.</p>
                </div>
                
            </div>
        </body>
    </text>
</TEI>