// Styles specific to the MS VIII Account table of contents

#account_toc_msviii_addictional_sections_table{
	td:nth-child(1){
		width: 15%;
	}
	td:nth-child(2){
		width: 15%;
	}
	td:nth-child(3){

	}
}
#account_toc_msviii_table_1{
	td:nth-child(1){
		width: 8%;
	}
	td:nth-child(2){
		width: 40%;
	}
	td:nth-child(3){
		width: 20%;
	}
}
#account_toc_msviii_table_2{
	td:nth-child(1){
		width: 15%;
	}
	td:nth-child(2){
		width: 40%;
	}
	td:nth-child(3){
		width: 45%;
	}
}