@font-face {
    font-family: 'RuskinFont';
    src: url('/_Resources/fonts/andron_scriptor_web_3_1.eot');
    src: url('/_Resources/fonts/andron_scriptor_web_3_1.eot?#iefix') format('embedded-opentype'),
         url('/_Resources/fonts/andron_scriptor_web_3_1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
